
body{
    margin: 0%;
}
nav {
    width: 20%;
    height: 100vh;
    float: left;
    background: linear-gradient(black,grey);
}

nav a{
    margin: 15px;
    padding: 45px;
    display: block;
    color: white;
    align-items: center;
    text-decoration: none;
}

nav a:focus{
    background-color: red;                       ;
}

nav a:hover{
    background: white;
    color: black;
}
.activee:hover{
    
    background: lightcoral;
    transition-duration: 2s;
    transform: rotate(360deg);
}