body{
    background-color: darkcyan;
    margin: 4%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    
}
header{
    background-color: aqua;
    text-align: center;
    text-decoration: dashed;
    padding: 15px;
    
}
nav{
    text-align: center;
    font-variant: small-caps;
    font-size: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
nav a{
    width: 22%;
    display: inline-block;
    background: white;
}
h2{
    background-color: bisque;
    color: cornflowerblue;
}
details{
    font-style:italic;
}
summary{
    font-style: normal;
}
section{
    color: darkblue;
}
.half{
    width: 45%;
    display: inline-block;
    margin-right: 2%;
    float: left;
}

.whole{
    clear: both;
}
figure{
    clear: both;
    color: red;
}
footer{
    clear: both;
}
meter{
    color: greenyellow;
}
img{
    width: 75px;
}
header,footer{
    background: linear-gradient(blue,white)
}